.liveview {
  position: relative;
}

.liveview__header {
  text-align: center;
}

.liveview__view {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.liveview__container {
  background: hsla(0, 0%, 20%, 1);
  width: 100%;
  border: 1px solid;
  position: relative;
}
