.settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.settings__title {
  margin-top: -2em;
}

.settings__container {
  width: 50%;
  max-width: 500px;
}
